:root {
    --black: #000;
    --white: #fff;
    --primary: #9146FF;
    --primary-dark: #772CE8;
    --primary-darker: #5C16C5;
    --platinum: #E3E3E7;
    --antiflash-white: #EFEFF1;
    --seasalt: #F7F7F8;
    --taupe-gray: #87878B;
    --davy-gray: #53535f;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--seasalt);
}

/* Icons */
.icon {
    width: 20px;
}

/* Buttons */
.icon-btn {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px;

    border: 0;
    border-radius: 3px;
    background-color: transparent;
}

.icon-btn:hover {
    background-color: var(--platinum);
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.nav-login:hover {
    background-color: var(--platinum);
}

.nav-signup {
    color: var(--white);
    background-color: var(--primary);
}

.nav-signup:hover {
    background-color: var(--primary-dark);
}

/* Navigation dropdown */
.dropdown-content {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    align-items: stretch;
    visibility: hidden;
    position: absolute;
    top: 42px;
    min-width: 200px;
    max-height: calc(100vh - 5rem);

    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,.16);
}

#nav-dropdown {
    padding: 12px;
}

#nav-dropdown > *:not(hr) {
    font-size: .8rem;
    padding: 8px 4px;
}

#nav-dropdown p {
    font-weight: 600;
    color: var(--davy-gray);
}

#nav-dropdown a {
    border-radius: 4px;
    text-decoration: none;
    color: var(--black);
}

#nav-dropdown a:hover {
    background-color: var(--platinum);
}

#nav-dropdown hr {
    background-color: var(--platinum);
    width: 100%;
    border-color: transparent;
}

/* Prime Loot dropdown */
.prime-dropdown {
    right: 215px;
}

.prime-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 5px -2px gray;
    padding: 8px 20px;
}

.prime-card {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    max-width: 100%;
}

.prime-card img {
    width: 20rem;
    border-radius: 4px;
}

.prime-card button {
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    padding: 7px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.prime-card *:not(.prime-btn) {
    padding: 4px 0;
}

.prime-dropdown hr {
    width: 95%;
    background-color: var(--platinum);
    border-color: transparent;
}

/* Tooltip */
.tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 52px;
    width: max-content;
    border-radius: 4px;
    padding: 4px;
    font-size: .8rem;
    color: var(--seasalt);
    background-color: var(--black);
    transition: opacity .1s ease;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: -8px;
    left: 14px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

/* Navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 1 1;
    z-index: 1;

    background-color: var(--white);
    box-shadow: 0 1px 2px rgba(0,0,0,.13);
}

.navbar > div {
    display: flex;
    flex-direction: row;
}

.nav {
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    gap: 1.5rem;
}

.nav > * {
    display: flex;
    align-items: center;
}

.logo {
    padding: 12px;
}

.browse-link {
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}

.browse-link:hover {
    color: var(--primary-darker);
}

.browse-link-icon {
    display: none;
}

.navbar-center {
    justify-content: center;
    flex-grow: 3;
}

.searchbar {
    display: flex;
    flex-direction: row;
    width: 24rem;
    padding: 6px 0;
}

.searchbar input {
    flex: 1 1 95%;
    border-radius: 6px 0 0 6px;
    border: 1px solid var(--black);
    padding: 0 6px;
    font-size: .9rem;
}

.searchbar input:hover {
    border: 2px solid var(--taupe-gray);
}

.searchbar input:focus {
    border: 3px solid var(--primary-darker);
}

.searchbar button {
    flex: 1 1 5%;
    border-radius: 0 6px 6px 0;
    border: 0;
    cursor: not-allowed;
}

.account-links {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    padding-right: 12px;
}

#searchbar-dropdown {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: stretch;
    top: 48px;
    padding: 4px;

    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,.16);
}

.search-toggle {
    display: none;
}

/* Main section */
.main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.main-sidebar {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 17rem;
    overflow-y: scroll;
    background-color: var(--antiflash-white);
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 0 10px;
}

.collapse-toggle {
    transform: rotate(180deg);
}

.sidebar-header h3 {
    font-size: .8rem;
    padding-top: 6px;
}

.sidebar-header > svg {
    display: none;
    padding: 20px 0;
}

.rcmd-channel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 4px 10px;
    cursor: pointer;
}

.rcmd-hover:hover {
    background-color: var(--platinum);
}

.rcmd-left-collapse *:not(img) {
    display: none;
}

.rcmd-channel > div {
    display: flex;
    flex-flow: row nowrap;
    gap: .3rem;
}

.rcmd-left {
    align-items: center;
}

.rcmd-left img {
    width: 40px;
    border: 100%;
}

.rcmd-channel span {
    color: var(--davy-gray);
    font-size: .8rem;
}

.rcmd-right {
    align-items: center;
    align-self: flex-start;
    padding-top: 4px;
}

.rcmd-right span {
    color: var(--black)
}

.live-dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    gap: 1rem;
    padding: 32px;
}

.main-content h3 {
    font-weight: 500;
}

.main-content h3 a {
    text-decoration: none;
    color: var(--primary-dark);
}

.main-content h3 a:hover {
    text-decoration: underline;
}

.stream-grid {
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.stream-card {
    display: flex;
    flex-direction: column;
}

.stream-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-image: url("images/streamphoto.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stream-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
}

.separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.separator div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    font-size: .8rem;
    color: var(--primary-dark);
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.separator div svg {
    fill: var(--primary-dark);
}

.separator div:hover {
    background-color: var(--platinum);
    color: var(--black);
}

.separator div:hover svg {
    fill: var(--black);
}

.separator hr {
    border-color: transparent;
    background-color: var(--platinum);
    flex-grow: 1;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 3.8rem;

    padding-left: 20px;
    padding-right: 56px;
    border-radius: 4px 4px 0 0;
    background-color: var(--primary-darker);
    color: var(--white);
}

.footer > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: .5rem;
}

.footer-left img {
    width: 40px;
}

.footer-left h3 {
    font-weight: 400;
}

.footer-left h3 bold {
    font-weight: bold;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .browse-link {
        display: none;
    }

    .browse-link-icon {
        display: flex;
    }

    .searchbar {
        display: none;
    }

    .search-toggle {
        display: inline-block;
    }

    .footer-left h3 span {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #searchbar-dropdown {
        visibility: hidden;
    }
}